<div class ="logo-container">
    <img class = "logo" src = "../../assets/images/kaizntree.png"/>
</div>
<div class="login">
    <mat-card >
        <div class="form">
            <form [formGroup]="loginForm">
                <div>
                    <mat-error *ngIf ="error">{{error}}</mat-error>
                </div>
                <div>
                    <mat-label>Username </mat-label>
                    <input mat-Input formControlName="name" name="name">
                    <mat-error *ngIf="loginForm.get('name')?.hasError('pattern')">Only alphabets and numbers are
                        allowed</mat-error>
                </div>
                <div>
                    <mat-label>Password </mat-label>
                    <input mat-Input formControlName="password" name="password" type= "password">
                    <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button> -->
                    <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">Password should be a combination of lowercase, uppercase, digit, special characters['!','@','#','$','%','^','&,'*'] and atleast 8 digits</mat-error>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="OnSubmit()" [disabled]="loginForm.invalid">Login</button>
                    <button mat-raised-button (click)="onClickCreate()">Create Account</button>
                </div>
                <div>
                    <a [routerLink] = "['/reset']">Forgot Password</a>
                </div>
            </form>
        </div>
    </mat-card>

</div>