/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.login
{
    display: flexbox ;
    justify-content: center;
    padding: 10px;
    
}
.form
{
   display: flex;
   justify-content: space-evenly;
   input
   {
    display: block;
    margin-bottom: 20px;
   }
   button 
   {
    margin-right: 20px;
    margin-bottom: 20px;
   }
}
.logo
{
    height: 100px;
}
.logo-container
{
    display: flex ;
    justify-content: center;
    
}